@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

.Title{
    font-family: 'Open Sans', sans-serif;
    position: relative;
    justify-content: space-evenly;
    align-items: center;
}

.Box-Info{
    font-family: 'Open Sans', sans-serif;
    background-color: #707A9C5C ;
    border-radius: 15px;
}

.img-info{
    display: flex;
    align-items: center;
    justify-content: center;
    
}